<%- model_class = Film -%>
<div class="page-header">
  <h1><%=t '.title', :default => Film %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:film_summary) %></th>
      <th><%= model_class.human_attribute_name(:film_year) %></th>
      <th><%= model_class.human_attribute_name(:is_released_netflix) %></th>
      <th><%= model_class.human_attribute_name(:is_released_amazon_stream) %></th>
      <th><%= model_class.human_attribute_name(:is_released_disc) %></th>
      <th><%= model_class.human_attribute_name(:netlifx_link) %></th>
      <th><%= model_class.human_attribute_name(:amazon_stream_link) %></th>
      <th><%= model_class.human_attribute_name(:disc_link) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.id %></td>
        <td><%= film.title %></td>
        <td><%= film.film_summary %></td>
        <td><%= film.film_year %></td>
        <td><%= film.is_released_netflix %></td>
        <td><%= film.is_released_amazon_stream %></td>
        <td><%= film.is_released_disc %></td>
        <td><%= film.netlifx_link %></td>
        <td><%= film.amazon_stream_link %></td>
        <td><%= film.disc_link %></td>
        <td><%=l film.created_at, format: :long %></td>
        <td>
          <%= link_to film_path(film), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to film_path(film), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_film_path,
            :class => 'btn btn-primary' %>
